@model DD.dal.Login_Info

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Login_Info</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserPwd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserPwd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usersex)
            </dt>

            <dd>
                @(Model.Usersex == 0 ? "男" : "女")
                @*@Html.DisplayFor(model => model.Usersex)*@
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usertime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usertime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Useraddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Useraddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserEmail)
            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.Rolename)
            </dt>

            <dd>
 
                @Html.DisplayFor(model => model.Rolename)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
